{{>partials/header}}

<div class="containerStartScreen">
    <div class="logoStartScreen">
        <img src="images/Logo_Tutu_W 1.svg"/>
    </div>

    <a href="./login">
    <button class="buttonStartScreen">Entrar</button>
    </a>
</div>


{{>partials/footer}}